
body
{
	background-color:#000000;
	color:#FFFFFF;
}

canvas
{
	border: 10px solid #000000;
    background-color:#FFFFFF;      
    float: left;
}

.header
{
	width:100%;
    height:20%;
	float:left;
	padding:30px;
}
            
            
.Sidebar
{
	width:70%;
	float:left;
	height:100%;
	background-color:#000000;
}
.body
{
	width:30%;
	height:100%;
	float:left;
	background-color:#000000;
	float:left;
}